@import "node_modules/bulma/bulma";

.spycodes_menu {
    position:absolute;
    top:5px;
    right: 5px;
    z-index: 999;
}

.cards-container {
    display:flex;
    flex-wrap: wrap;
    flex: 1;
}
.card {
    flex: 1 0 20%;
    box-sizing: border-box;
    border-color: #e0ddd5;
    border-width: medium;
    border-style: solid;
    color: #171e42;
    padding: 10px;
    max-width: 100%;
    min-width: 20%;
    font-weight: bold; 
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    .word-wrapper {
        flex: 3;
        display: flex;
        align-items: center;
        text-align: center;
        .word {
            flex: 1;
        }
    }
    .word-tag {
        flex:1;
    }
}
.red {
    background-color: #ff2502;
    color: white;
}
.blue {
    background-color: #3273dc;
    color: white;
}
.bystander {
    background-color: lightyellow;
}
.assassin {
    background-color: #272727;
    color: white;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}